
<% if !params[:select_date].nil? && !@pickups_by_date[@select_date].nil? %>
  <h3><%= @select_date.strftime("%A %B, %d :") %>
  Pick-ups</h3>
  <table>
    <tr>
      <th>Locaion</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Item</th>
      <th>Quantity</th>
    <% @pickups_by_location.each do |location, pickups| %>
    </tr>
    <tr>
    <td rowspan= "<%= pickups.length %>" ><%= link_to location.name, location %></td>
    <% pickups.each do |pickup| %>
    <td><%= link_to pickup.customer.name, pickup.customer %></td>
    <td><%= pickup.date %></td>
    <td><%= pickup.item %></td>
    <td><%= pickup.quantity %></td>
    </tr>
    <%end%>
    <%end%>
    </table>
      <%= link_to "Add new pick-up", new_pick_up_path%><br/>
      <%= link_to "Go Back", pick_ups_path%>
<%else%>
  <div id="pickups">
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
      <%= calendar @date do |date| %>
      <%= link_to date.day, select_date: date %>
      <% if @pickups_by_date[date] %>
      <ul>
        <a href = "/pick_ups?select_date=<%= date%>">See <%=@pickups_by_date[date].length%> pickups </a>
    </ul>
    <% end %>
    <% end %>
  </div>
<%end%>
