<% if @pick_up.errors.any? %>
  <% @pick_up.errors.full_messages.each do |msg| %>
    <div data-alert class="alert-box alert radius">
      <%= msg %></br>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
<%= form_for @pick_up do |f| %>
<p>
  <%= f.label :customer%>
  <%= f.collection_select(:customer_id, Customer.all, :id, :name,include_blank: true)%>
</p>
<p>
<%= f.label :location%>
<%= f.collection_select(:location_id, Location.all, :id, :name,include_blank: true )%>
</p>

<p>
  <%= f.label :date %>
  <%= f.date_field :date %>
</p>

<p>
  <%= f.label :item %>
  <%= f.text_field :item %>
</p>

<p>
  <%= f.label :quantity %>
  <%= f.select :quantity, (1..100),include_blank: true %>
</p>

<%= f.submit "Create Pick-up", :class => "button small"%>

<%end%>
