<% if @customer.errors.any? %>
<% @customer.errors.full_messages.each do |msg| %>
<div data-alert class="alert-box alert radius">
  <%= msg %></br>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<% end %>

<%= form_for (@customer) do |f| %>

<div class="large-8 columns">
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address, :placeholder => "123 Street Name St, City State Zip" %>
  </p>
  <p><%= f.submit @button_name, :class=>"button small" %></p>
  <%end%>
