<% if @location.errors.any? %>
<% @location.errors.full_messages.each do |msg| %>
<%= msg %></br>
<% end %>
<% end %>

<%= form_for (@location) do |f| %>

<div class="large-8 columns">
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address, :placeholder => "123 Street Name St, City State Zip" %>
  </p>
  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>
  <p><%= f.submit @button_name, :class=>"button small" %></p>
  <%end%>
