<table id ="locations">
  <thead>
    <tr>
    <th>Location Name</th>
    <th>Location Address</th>
  </tr>
  </thead>
  <tbody>
  <%@locations.each do |location|%>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td><%= location.address %></td>
  </tr>
    <%end%>
  </tbody>
</table>

<h5>Import Locations</h5>

<%= form_tag import_locations_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", class: "button tiny" %>
<% end %>
