<ul>
  <li><%= @location.name %></li>
  <li><%= @location.address %></li>
  <li><%= @location.longitude %></li>
  <li><%= @location.latitude %></li>
  <li><%= @location.notes %></li>
</ul>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
